.title{
  font-size: 2.5rem;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}


.list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:40px;
  padding: 20px;
  list-style: none;
}
.card{
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(15, 30, 252, 0.4);

  .starIcon{
    position: absolute;
    right: 10px;
    top:10px;
    z-index: 1;
  }
 .body{
  font-style: italic;
  font-size: 1.5rem;
  color: darkgray;
 }

 .author{
  color: gray;
  font-weight: bold;
 }

}
.buttons{
  display: flex;
  gap:5px;
  justify-content: flex-end;
  margin: 20px 0px;
}
.tags{
  display: flex;
  gap:5px;
  list-style: none;
  margin: 10px 0;
}
.tag{
  padding: 0px 12px;
  background-color: lightgray;
  border-radius: 12px;
  border:1px solid gray;


}