.title {
  text-align: center;
}
.owner {
  text-align: center;
  color: violet;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  width: 90%;
  padding: 40px 0;
  margin: 0 auto;
  gap: 20px;
}

.item {
  box-shadow: 2px 2px 4px 5px gray;
  padding: 10px;
  text-align: center;
}
.completed {
  display: flex;
  align-items: center;
}
.userIcon {
  color: darkblue;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: red;
    transform: rotate(360deg) scale(1.4);
  }
}
.deleteBtn {
  color: green;
  height: 48px;
  width: 48px;
  &:hover {
    color: red;
  }
}
