.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px 5px #bfbfbf;
  &:hover {
    box-shadow: 2px 2px 9px 7px #bfbfbf;
  }
}
.skeleton_title {
  height: 30px;
  border-radius: 8px;
  background: linear-gradient(90deg, #bfbfbf 0%, #f8f8f8 50%, #bfbfbf 100%);
  background-size: 200% 100%;
  margin-bottom: 20px;
  animation: skeleton 1.5s infinite linear;
}
.skeleton_subtitle {
  height: 50px;
  border-radius: 8px;
  background-color: #bfbfbf;
  background: linear-gradient(90deg, #bfbfbf 0%, #f8f8f8 50%, #bfbfbf 100%);
  width: 100%;
  background-size: 200% 100%;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
