.list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
  list-style: none;

}
.icon{
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart{
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: grid;
      grid-template-columns: 200px 2fr 1fr 1fr 1fr;
      align-items: center;
     
    }
  }
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 5px 0 lightblue;
  padding: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    background-color: lightcyan;
    transform: scale(1.02);

  }
  img{
    margin: 0 auto;
  }
}