.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: teal;
  color: white;
  font-weight: bold;
}
.header__logo{
  font-size: 30px;
  text-decoration: underline;
  cursor: pointer;
}
.header__nav{
  display: flex;
  gap: 20px;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
}


.title{
  color: red
}
.btn{
  padding: 4px 10px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* BEM Block ELement Modificator  */

/* src/index.css */

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
.red{
  color: red
}
.green{
  color: green
}