@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-size: 24px;
}




.formWrapper{
  display: grid;
  /* justify-content: center;
  align-items: center; */
  place-content: center;
  min-height: 100vh;
}

.errorField{
  color: red;
  font-size: 1rem;
}

.activeNavLink{
  color:black;
  border-bottom: black;
  padding-bottom: 5px;
}